.container_cart {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-content: center;
	// min-height: 600px;
	// max-height: 100vh;

	.itemcard_cart {
		// width: 52rem;
		display: flex;
		width: 100%;
		align-self: center;
	}

	.btn-remove {
		margin-bottom: .1rem;
		border: 1px solid red;
		color: red;
		transition: all ease-out 0.2s;
	}
	.btn-remove:hover {
		background-color: red;
		color: white;
	}
	.btn-remove:focus {
		border: 1px solid rgb(194, 65, 65);
	}
	.btn-check {
		transition: all ease-in .2s;
	}
	.btn-check:hover {
		background-color: pink;
		color: white;
	}
	.btn-check:focus {
		background-color: red;
		color: white;
	}
}
@media (max-width: 768px) {
	.container_cart {
		width: 100%;
		overflow: hidden;
		display: grid;
		align-content: center;

		.itemcard_cart {
			height: max-content;
			display: grid;
			grid-template-columns: 115px 2fr 1fr;

			.btn-remove {
			max-width: fit-content;
			min-height: 22px;
			margin: auto;
		}
		}
		

	}
	.container_cart h1 {
		font-size: 1.2rem !important;
	}
}
