.item__container {
    display: grid;
    grid-template-columns: auto;
    margin-top: 0 !important;
    align-content: flex-start;
    justify-content: flex-start;
    min-height: 100%;

    .loader {
        max-height: 100vh;
    }
    h3 {
        font-size: 1.2rem;

    }
    ul {
        list-style-type: none;
        line-height: 1.4;
    }
    .image__container {
        display: flex;
       
        .item-image {
            max-width: 100%;
            padding: 10px;
            margin: auto;
        }
    }
}
   