footer {
	overflow-x: hidden;
	position: sticky;
	margin-top: auto !important;
	bottom: 0 !important;

	section .main_row {
		width: 100%;
		bottom: 0;
		display: block;
		.footer_column {
			margin: 0;
		}
		
	}
		li {
			color: white;
			font-family: 'Consolas', sans-serif, monospace;
		}
}
