
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Main {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}
#root {
  overflow-x: hidden !important;
}

h1, h2, h3, p, a {
  font-family: 'Consolas', sans-serif;
}